.navbar .navbar-brand {
    width: 50%;
}
.navbar .navbar-nav {
    width: 100%;
}
.navbar .navbar-nav a {
    color:#444444;
    width: 35%;
}

.navbar .navbar-nav a:hover {
    color:#ffc107;
}
section#info {
    background: url("../img/sect3.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding: 100px 0 100px 0;
}
section#info .titulo {
    padding-top: 70px;
    padding-left: 4%;
}
section#info .titulo {
    color:white;
    font-family: 'Merriweather Sans', sans-serif;
}
section#info .titulo .btn {
    margin-top: 20px;
    color:white;
    font-size: 1.2em;
    border:1px solid white;
}

section#info2 .row {
    padding: 50px 10% 0 10%;
}

section#info2 .row p {
    margin-top:20px;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    color:#01073B;
}
section#about {
    padding-top:50px;
    padding-bottom: 100px;
}
section#about2 .row div.img-carga {
    background: url("../img/aubrey-odom-1503026-unsplash.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height: 70vh;
    display:inline-block;
}
section#about2 .row div.texto {
    padding: 20px 2%;
}
section#contacto  {
    color:white;
    background: #01073B;
    padding: 30px 10%
}
section#contacto hr {
    width: 50%;
    border-top: 1px solid white;
}
section#contacto .row iframe {
    width: 100%;
}
